<!--Footer-->
<footer class="page-footer font-small mt-4 wow fadeIn">

    <!--Call to action-->
    <div class="pt-4">
        <section id="footer">
            <div class="container" style="width: 100%;">
                <div class="row">
                    <div class="col-sm-12 col-md-8">
                        <h6 style="color:#98a0a5" ><b>UNIVERSITY OF COLOMBO SCHOOL OF COMPUTING</b></h6>
                        <br>
                        <ul class="list-unstyled quick-links">
                            <li>UCSC IEEE Student Branch</li>
                            <li>University of Colombo School of Computing</li>
                            <li>UCSC Building Complex,</li>
                            <li>35 ,Reid Avenue, Colombo 7</li>
                            <li>SRI LANKA</li>
                            <br>
                            <li class="cursor-hover">ieeesb.ucsc@gmail.com</li>
                        </ul>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <h6 style="color:#98a0a5"><b>SITEMAP</b></h6>
                        <br>
                        <ul class="list-unstyled quick-links">
                            <li><a href="/" class="cursor-hover">Home</a></li>
                            <li><a href="/contact" class="cursor-hover">Contact Us</a></li>
                            <li><a href="/events" class="cursor-hover">Events</a></li>
                            <li><a href="/official" class="cursor-hover">Office Bearers</a></li>
                            <li><a href="/wie" class="cursor-hover">WIE</a></li>
                            <li><a href="/cs_chapter" class="cursor-hover">CS Chapter</a></li>
                        </ul>
                    </div>

                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                        <ul class="list-unstyled list-inline social text-center">
                            <li class="list-inline-item"><a href="https://www.facebook.com/IEEE.UCSC/"><i class="fa fa-facebook" style="font-size: 25px; margin: auto 15px auto 15px;"></i></a></li>
                            <li class="list-inline-item"><a href="https://twitter.com/IEEESB_UCSC/"><i class="fa fa-twitter" style="font-size: 25px; margin: auto 15px auto 15px;"></i></a></li>
                            <!--<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-instagram"></i></a></li>-->
                            <!--<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-google-plus"></i></a></li>-->
                            <!--<li class="list-inline-item"><a href="" target="_blank"><i class="fa fa-envelope"></i></a></li>-->
                        </ul>
                    </div>
                    </hr>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">

                        <p style="font-size: small" class="h6">© Copyright 2016 IEEE Student Branch of UCSC – All rights reserved.<a class="text-green ml-2" href="" target="_blank">IEEE SB UCSC</a></p>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!--/.Call to action-->
    <!--Copyright-->
    <div class="footer-copyright py-3">
        <div class="list-unstyled list-inline text-center" style="font-size: x-small">
            <li class="list-inline-item" ><a href="https://www.ieee.org/">Home</a></li>
            <li class="list-inline-item" style="border-left: 2px solid; padding-left: 0.5em;"><a href="https://www.ieee.org/about/contact.html">Contact & Support</a></li>
            <li class="list-inline-item" style="border-left: 2px solid; padding-left: 0.5em;"><a href="https://www.ieee.org/accessibility-statement.html">Accessibility</a></li>
            <li class="list-inline-item" style="border-left: 2px solid; padding-left: 0.5em;"><a href="https://www.ieee.org/about/corporate/governance/p9-26.html">Nondiscrimination Policy</a></li>
            <li class="list-inline-item" style="border-left: 2px solid; padding-left: 0.5em;"><a href="https://www.ieee.org/security-privacy.html">Privacy & Opting Out Of Cookies</a></li>
        </div>
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->

