<!--Navbar-->

<nav class="navbar navbar-expand-lg navbar-light grey lighten-5">

    <!-- Navbar brand -->


    <!-- logo -->
    <div class="logo">
        <a href="/"><img src="../../images/ucsc_logo.png" height="45" alt="User" /></a>
    </div>

    <!-- Collapse button -->
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button> -->

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse navbar-default navbar-fixed-top" id="basicExampleNav">

        <!-- Links -->
        <!-- <ul class="navbar-nav mr-auto nav-right">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home -->
                    <!--<span class="sr-only">(current)</span>-->
                <!-- </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/official">Office Bearers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/events">Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/cs_chapter">CS Chapter</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/wie">WIE</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact US</a>
            </li>
        </ul> -->
        <!-- Links -->

        <div class="collapse navbar-collapse">
          <ul class="nav-right navbar-nav mr-auto">
            <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
            <li class="nav-item">
                <a class="nav-link" href="/official">Office Bearers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/events">Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/cs_chapter">CS Chapter</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/wie">WIE</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact US</a>
            </li>
          </ul>
          <form class="form-inline" action="/search">
            <div class="md-form my-0 search-form">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="key">
            </div>
          </form>
        </div>



    </div>

    <!-- Collapsible content -->

</nav>
<!--/.Navbar-->
