{{>carousel}}
<main>
    <div class="container">
        <section class="wow fadeIn" style="margin: 75px auto 60px auto;">
            <div class="row">
                <div class="col-md-4 ool-xs-12 mb-4">
                    <div class="view overlay zoom" style="overflow: visible;">
                        <img src="../images/ucsc_logo.png" class="img-fluid" alt="zoom">
                    </div>
                </div>
                <div class="col-md-8 ool-xs-12 pl-5">
                    <!-- Main heading -->
                    <h3 class="h3 mb-3">WELCOME TO IEEE Student Branch Of UCSC</h3>
                    <p style="text-align: justify;">
                        IEEE student branch of University of Colombo School of Computing is being established since 2011 and has been
                        achieved great success during past few months. Student branch has been formed with the participation and contribution
                        of all four batches of University of Colombo School of Computing and it has been organizing many activities to enhance
                        professional development of the students.
                    </p>
                    <!-- Main heading -->
                </div>
            </div>
        </section>
        <hr class="my-4">
        {{>wrapper}}
    </div>
</main>
<!--Main layout-->

