<!--Main layout-->
<main >
    <div class="container" style="padding-top: 80px;">
        <div class="office-heading">
            <h1>2017</h1>
            <hr>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-12 mb-3">
                <div id="boardimag">
                    <div class="card-body">
                        <div class="view overlay mb-3">
                            <img src="../images/2017_board/president.jpg" class="img-fluid rounded-circle user-image">
                        </div>
                        <h5 class="card-title text-center" style="color: #0e4377; margin-bottom: 5px !important;">Oshan Mudannayaka</h5>
                        <h6 class="card-title text-center" style="color: #0e4377;">President</h6>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-12 mb-3">
                <div id="boardimag">
                    <div class="card-body">
                        <div class="view overlay mb-3">
                            <img src="../images/2017_board/president.jpg" class="img-fluid rounded-circle user-image">
                        </div>
                        <h5 class="card-title text-center" style="color: #0e4377; margin-bottom: 5px !important;">Oshan Mudannayaka</h5>
                        <h6 class="card-title text-center" style="color: #0e4377;">President</h6>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-12 mb-3">
                <div id="boardimag">
                    <div class="card-body">
                        <div class="view overlay mb-3">
                            <img src="../images/2017_board/president.jpg" class="img-fluid rounded-circle user-image">
                        </div>
                        <h5 class="card-title text-center" style="color: #0e4377; margin-bottom: 5px !important;">Oshan Mudannayaka</h5>
                        <h6 class="card-title text-center" style="color: #0e4377;">President</h6>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-12 mb-3">
                <div id="boardimag">
                    <div class="card-body">
                        <div class="view overlay mb-3">
                            <img src="../images/2017_board/president.jpg" class="img-fluid rounded-circle user-image">
                        </div>
                        <h5 class="card-title text-center" style="color: #0e4377; margin-bottom: 5px !important;">Oshan Mudannayaka</h5>
                        <h6 class="card-title text-center" style="color: #0e4377;">President</h6>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-12 mb-3">
                <div id="boardimag">
                    <div class="card-body">
                        <div class="view overlay mb-3">
                            <img src="../images/2017_board/president.jpg" class="img-fluid rounded-circle user-image">
                        </div>
                        <h5 class="card-title text-center" style="color: #0e4377; margin-bottom: 5px !important;">Oshan Mudannayaka</h5>
                        <h6 class="card-title text-center" style="color: #0e4377;">President</h6>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-12 mb-3">
                <div id="boardimag">
                    <div class="card-body">
                        <div class="view overlay mb-3">
                            <img src="../images/2017_board/president.jpg" class="img-fluid rounded-circle user-image">
                        </div>
                        <h5 class="card-title text-center" style="color: #0e4377; margin-bottom: 5px !important;">Oshan Mudannayaka</h5>
                        <h6 class="card-title text-center" style="color: #0e4377;">President</h6>
                    </div>
                </div>
            </div>

        </div>
        <div class="office-heading" style="margin-top: 60px;">
            <h1>2017</h1>
            <hr>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-12 mb-3">
                <div id="boardimag">
                    <div class="card-body">
                        <div class="view overlay mb-3">
                            <img src="../images/2017_board/president.jpg" class="img-fluid rounded-circle user-image">
                        </div>
                        <h5 class="card-title text-center" style="color: #0e4377; margin-bottom: 5px !important;">Oshan Mudannayaka</h5>
                        <h6 class="card-title text-center" style="color: #0e4377;">President</h6>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-12 mb-3">
                <div id="boardimag">
                    <div class="card-body">
                        <div class="view overlay mb-3">
                            <img src="../images/2017_board/president.jpg" class="img-fluid rounded-circle user-image">
                        </div>
                        <h5 class="card-title text-center" style="color: #0e4377; margin-bottom: 5px !important;">Oshan Mudannayaka</h5>
                        <h6 class="card-title text-center" style="color: #0e4377;">President</h6>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-12 mb-3">
                <div id="boardimag">
                    <div class="card-body">
                        <div class="view overlay mb-3">
                            <img src="../images/2017_board/president.jpg" class="img-fluid rounded-circle user-image">
                        </div>
                        <h5 class="card-title text-center" style="color: #0e4377; margin-bottom: 5px !important;">Oshan Mudannayaka</h5>
                        <h6 class="card-title text-center" style="color: #0e4377;">President</h6>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-12 mb-3">
                <div id="boardimag">
                    <div class="card-body">
                        <div class="view overlay mb-3">
                            <img src="../images/2017_board/president.jpg" class="img-fluid rounded-circle user-image">
                        </div>
                        <h5 class="card-title text-center" style="color: #0e4377; margin-bottom: 5px !important;">Oshan Mudannayaka</h5>
                        <h6 class="card-title text-center" style="color: #0e4377;">President</h6>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-12 mb-3">
                <div id="boardimag">
                    <div class="card-body">
                        <div class="view overlay mb-3">
                            <img src="../images/2017_board/president.jpg" class="img-fluid rounded-circle user-image">
                        </div>
                        <h5 class="card-title text-center" style="color: #0e4377; margin-bottom: 5px !important;">Oshan Mudannayaka</h5>
                        <h6 class="card-title text-center" style="color: #0e4377;">President</h6>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-12 mb-3">
                <div id="boardimag">
                    <div class="card-body">
                        <div class="view overlay mb-3">
                            <img src="../images/2017_board/president.jpg" class="img-fluid rounded-circle user-image">
                        </div>
                        <h5 class="card-title text-center" style="color: #0e4377; margin-bottom: 5px !important;">Oshan Mudannayaka</h5>
                        <h6 class="card-title text-center" style="color: #0e4377;">President</h6>
                    </div>
                </div>
            </div>

        </div>
    </div>

</main>


