<!--Main layout-->
<main >
    <div class="container" style="padding-top: 80px;">
        <div class="office-heading">
            <h1>2017</h1>
            <hr>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-12 mb-3">
                <div id="boardimag">
                    <div class="card-body">
                        <div class="view overlay mb-3">
                            <img src="../images/2017_board/Pasan Ranathunga.jpg" class="img-fluid rounded-circle user-image">
                        </div>
                        <h5 class="card-title text-center" style="color: #0e4377; margin-bottom: 5px !important;">Pasan Ranathunge</h5>
                        <h6 class="card-title text-center" style="color: #0e4377;">President</h6>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-12 mb-3">
                <div id="boardimag">
                    <div class="card-body">
                        <div class="view overlay mb-3">
                            <img src="../images/2017_board/Ashan Maduranga.jpg" class="img-fluid rounded-circle user-image">
                        </div>
                        <h5 class="card-title text-center" style="color: #0e4377; margin-bottom: 5px !important;">Ashan Maduranga</h5>
                        <h6 class="card-title text-center" style="color: #0e4377;">Vice President</h6>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-12 mb-3">
                <div id="boardimag">
                    <div class="card-body">
                        <div class="view overlay mb-3">
                            <img src="../images/2017_board/Akhila Damsari.jpg" class="img-fluid rounded-circle user-image">
                        </div>
                        <h5 class="card-title text-center" style="color: #0e4377; margin-bottom: 5px !important;">Akhila Damsari</h5>
                        <h6 class="card-title text-center" style="color: #0e4377;">Secretary</h6>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-12 mb-3">
                <div id="boardimag">
                    <div class="card-body">
                        <div class="view overlay mb-3">
                            <img src="../images/2017_board/Vihanga Liyanage.jpg" class="img-fluid rounded-circle user-image">
                        </div>
                        <h5 class="card-title text-center" style="color: #0e4377; margin-bottom: 5px !important;">Vihanga Liyange</h5>
                        <h6 class="card-title text-center" style="color: #0e4377;">Treasurer</h6>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-12 mb-3">
                <div id="boardimag">
                    <div class="card-body">
                        <div class="view overlay mb-3">
                            <img src="../images/2017_board/Malith Senaweera.jpg" class="img-fluid rounded-circle user-image">
                        </div>
                        <h5 class="card-title text-center" style="color: #0e4377; margin-bottom: 5px !important;">Malith Seneweera</h5>
                        <h6 class="card-title text-center" style="color: #0e4377;">Coordinator</h6>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-12 mb-3">
                <div id="boardimag">
                    <div class="card-body">
                        <div class="view overlay mb-3">
                            <img src="../images/2017_board/Savinda Maddage.jpg" class="img-fluid rounded-circle user-image">
                        </div>
                        <h5 class="card-title text-center" style="color: #0e4377; margin-bottom: 5px !important;">Savinda Keshan</h5>
                        <h6 class="card-title text-center" style="color: #0e4377;">Coordinator</h6>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-12 mb-3">
                <div id="boardimag">
                    <div class="card-body">
                        <div class="view overlay mb-3">
                            <img src="../images/2017_board/Pasindu Priyashan.jpg" class="img-fluid rounded-circle user-image">
                        </div>
                        <h5 class="card-title text-center" style="color: #0e4377; margin-bottom: 5px !important;">Pasindu Priyashan</h5>
                        <h6 class="card-title text-center" style="color: #0e4377;">Coordinator</h6>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-12 mb-3">
                <div id="boardimag">
                    <div class="card-body">
                        <div class="view overlay mb-3">
                            <img src="../images/2017_board/Oshan Ivantha.jpg" class="img-fluid rounded-circle user-image">
                        </div>
                        <h5 class="card-title text-center" style="color: #0e4377; margin-bottom: 5px !important;">Oshan Mudannayaka</h5>
                        <h6 class="card-title text-center" style="color: #0e4377;">Coordinator</h6>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-12 mb-3">
                <div id="boardimag">
                    <div class="card-body">
                        <div class="view overlay mb-3">
                            <img src="../images/2017_board/Emalsha Rasad.jpg" class="img-fluid rounded-circle user-image">
                        </div>
                        <h5 class="card-title text-center" style="color: #0e4377; margin-bottom: 5px !important;">Emalsha Rasad</h5>
                        <h6 class="card-title text-center" style="color: #0e4377;">Web Master</h6>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-12 mb-3">
                <div id="boardimag">
                    <div class="card-body">
                        <div class="view overlay mb-3">
                            <img src="../images/2017_board/Mishari Tamara.jpg" class="img-fluid rounded-circle user-image">
                        </div>
                        <h5 class="card-title text-center" style="color: #0e4377; margin-bottom: 5px !important;">Mishari Thamara</h5>
                        <h6 class="card-title text-center" style="color: #0e4377;"Design Master</h6>
                    </div>
                </div>
            </div>

        </div>

    </div>

</main>


