@font-face {
  font-family: pragmetica;
  src: url(../fonts/pragmatica_1.woff);
}

body {
  font-family: pragmetica;

}

.navbar {
  position: fixed;
  width: 100%;
  height: 15%;
  padding:10px;
  z-index: 999;
}

.navbar-collapse{
  position: relative;
  left:40%;



}

.logo{
  height="90"
}
.carousel {
  height: 100%;
  width: 100%;
position: center;}
.carousel .carousel-inner {
  height: 100%; }
.carousel .carousel-inner .carousel-item,
.carousel .carousel-inner .active {
  height: 100%; }


a {
  color: #00B7FF;
}
.nav-wrapper {

}

.carousel-fade .item {
  height: 100px;
}

.item img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 300px;
}
#main-content{
  position: center;
  margin:0 auto;
  text-align: center;
  padding: 50px 50px 50px 50px;
  text-align: justify;

}

body, html {
  height: 100%;
}

#welcome-message{
  font-size: 18px;
}

.UCSC-IEE{
  position: center;
  margin:0 auto;
  padding: 80px 50px 50px 50px;

}

#boardimag{
  position: center;
background-color: #fafafa;

}


.bg {
  /* The image used */
  background-image: url("../../images/backgroundn.jpg");

  /* Half height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: repeat;
  
}

@media (min-width: 768px) {
  .carousel-multi-item-2 .col-md-4 {
    float: left;
    width: 33%;
    max-width: 100%; } }

.carousel-multi-item-2 .card img {
  border-radius: 2px; }

